<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title -California Home</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/lib/modernizr")
        @RenderSection("styles", required: false)
        <script>
            window.onerror = function (errorText, url, lineNumber) {
                var msg = 'errorText=' + errorText + '&url='
                    + url + '&lineNumber=' + lineNumber;

                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/api/error', true);
                xhr.setRequestHeader("Content-type",
                    "application/x-www-form-urlencoded");
                xhr.send(msg);
            };
        </script>
    </head>
    <body style ="background-color:aliceblue;">
       
             <div class="content" style="background-color:white">
                 <br />
                       @*Page Layout Login view *@
                         <div class="float-right">                             
                                  @Html.Partial("_LoginPartial")                          
                         </div>
                     
                 <br /><hr />
                       @* Page Layout Logo and company Name *@
                        <div style="margin-top: 25px;">
                               <p class="site-title">
                                     <img src="~/Images/homelogo.png"  style="width:100px; height:50px;">
                                       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                      <span style="text-align:center" class="col-md-push-2">
                                          California Homes
                                      </span>
                               </p>  
                        </div>
                      <br /> <br /><hr />
                       @* Page Layout Menu Content*@
                        <div class="float-left">
                               <nav>
                                     <ul id="menu">
                                         <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                         <li>@Html.ActionLink("About", "About", "Home")</li>
                                         <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                                     </ul>
                               </nav>
                       </div>
                    <br /><br /><hr />
                     
                       @*Page Layout Body Content *@
                           <div id="body">
                                @RenderBody()
                          </div>

                       @* PageLayout footer content*@
                         <footer style="height:30px;">
                            <div class="content-wrapper">
                              <div class="float-left">
                                     <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                             </div>
                           </div>
                         </footer>

                  </div>
           
            
        @RenderSection("breakout", required: false)
        @Scripts.Render("~/bundles/site")
        @RenderSection("scripts", required: false)
    </body>
</html>
